{% import 'macros/header_macros.html' as header with context %}
{% import 'macros/footer_macros.html' as footer %}
{% import 'macros/sidebar_macros.html' as sidebar %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_head.html' %} {# Any templates that extend this
    template can set custom_head_tags to add scripts to their page #}
    {% block custom_head_tags %}

    {% endblock %}
</head>
<body>
    <div class="main-wrapper">
        <!-- START NAV -->
        {% block sidebar %}
            {{ sidebar.render_sidebar(current_user, dropdown) }}
        {% endblock %}
        <!-- END NAV -->

        <!-- START WRAPPER -->
        <div class="page-wrapper">
            {% block header %}
                {{ header.render_header(current_user) }}
            {% endblock %}
            <div class="page-content">
            {% include 'partials/_flashes.html' %}
            <!-- START CONTENT -->
            {# When extended, the content block contains all the html of the webpage #}

            {% block content %}
            {% endblock %}
            <!-- END CONTENT -->
            <!--
              ////////////////////////////////////////////////////////////////////////////
            -->
            </div>
            {% block footer %}
                {{ footer.render_footer(current_user) }}
            {% endblock %}
        </div>
        <!-- END WRAPPER -->
    </div>


    {# Implement CSRF protection for site #}
    {% if csrf_token()|safe %}
    <div style="visibility: hidden; display: none">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}"/>
    </div>
    {% endif %}


{% block dash_scripts %}
    <!--
      ================================================
      Scripts
      ================================================
    -->
    <!-- core:js -->
    <script src="{{ url_for('static', filename='vendors/core/core.js') }}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/chartjs/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/progressbar.js/progressbar.min.js') }}"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename='vendors/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <!-- endinject -->

    <script type="text/javascript" src="{{ url_for('static', filename='vendors/sweetalert/dist/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendors/dropify/js/dropify.min.js') }}"></script>
    {{ moment.include_moment() }} {{ moment.lang(g.locale) }}
    <script type="text/javascript" src="{{ url_for('static', filename='vendors/moment/moment-with-locales.min.js') }}"></script>
{% endblock %}
    <!-- custom js for this page -->
{% block scripts %}

{% endblock %}
    <!-- end custom js for this page -->
    {% if current_user.is_authenticated %}

    {% endif %}
    <script>
        function delete_listing(id) {
            swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    $(id).submit();
                });
        }

        var csrftoken = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        function cancelApplication(id) {
            swal({
                    title: "Cancel Application!",
                    text: "Are you sure you want To Cancel application?:",
                    type: "input", showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Reason for cancellation",
                    showLoaderOnConfirm: true,
                },
                function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue === "") {
                        swal.showInputError("You need to write something!");
                        return false
                    }
                    data = {
                        reason: inputValue
                    }
                    $.post('{{ url_for('admin.cancel_application') }}?id=' + id, data
                ).
                    done(function (response) {
                        swal("Cancelled!", "Application successfully cancelled", "success");
                        $('#placehold').html(response);

                    }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        swal("Status: " + textStatus, "Error: " + errorThrown, "error");
                    });
                });
        }

        function get_profile(id) {
            $.get().done(function (response) {
                $('#profile-placehold').html(response);
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                swal("Status: " + textStatus, "Error: " + errorThrown, "error");
            });
        }


        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }


        $(document).ready(function() {
          url = "{{ url_for('applicant.check_personal_history')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#personal_history').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });

        $(document).ready(function() {
          url = "{{ url_for('applicant.check_education_info')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#education_info').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
        $(document).ready(function() {
          url = "{{ url_for('applicant.check_employment_history')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#employment_history').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
        $(document).ready(function() {
          url = "{{ url_for('applicant.check_employment_history_by_details')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#employment_history_by_details').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
        $(document).ready(function() {
          url = "{{ url_for('applicant.check_reference_details')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#reference_details').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
        $(document).ready(function() {
          url = "{{ url_for('applicant.check_locum_availability')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#locum_availability').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
        $(document).ready(function() {
          url = "{{ url_for('applicant.check_other_personals')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#other_personal_details').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
        $(document).ready(function() {
          url = "{{ url_for('applicant.check_area_of_interest')  }}";
          $.get(url).done(function( response ) {
            if(response.status === true){
              $('#area_of_interest').removeClass("mdi-checkbox-blank-outline").addClass("mdi-checkbox-marked-outline");
            }
          })
        });
    </script>
</body>
</html>
