{% extends 'home/auth_base.html' %}

{% block home_content %}

<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-12 pl-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <h4 class="card-title mb-0">Password Reset</h4>
					    <form action="{{url_for('account.reset_password', token=token)}}" class="f-login-form" method="POST">
                            {{form.hidden_tag()}}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email: </label>
                                        {{form.email(class="form-control", placeholder="Email")}}
                                        {%for error in form.email.errors%}
                                            <span>{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email: </label>
                                        {{form.new_password(placeholder="New Password", class="form-control")}}
                                        {%for error in form.new_password.errors%}
                                            <span>{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    {{form.new_password2(placeholder="Confirm New Password", class="form-control")}}
                                    {%for error in form.new_password2.errors%}
                                        <span>{{error}}</span>
                                    {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                </div>
                            </div>
                        </form>
				    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock home_content %}

{% block footer %}{% endblock footer %}