{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP</a></li>
        <li class="breadcrumb-item active" aria-current="page">Area Of Interest</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">
                    Please fill in the following
                </p>
                <form class="cmxform" method="post" action="{{url_for('applicant.area_of_interest')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Areas of professional interest (E.g Critical Care, Oncology, e.t.c) </label>
                                {{form.name_of_interest(placeholder="Name", class="form-control")}}
                                {%for error in form.name_of_interest.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    var selector = document.getElementsByClassName("pn");

    var im = new Inputmask("+254999999999");
    im.mask(selector);
</script>
{%endblock%}
