{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/dropzone/dropzone.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Jobs</a></li>
        <li class="breadcrumb-item"><a href="#">EDIT APPLICATION FOR </a></li>
        <li class="breadcrumb-item active" aria-current="page">{% filter upper %}{{job_applied.job_title}}{% endfilter %}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform repeater" enctype="multipart/form-data" method="post"
                      action="{{ url_for('applicant.edit_job_application', id=application_to_edit.id)}}">
                            {{form.hidden_tag()}}
                    <h4 class="card-title">Apply for {{job_applied.job_title}}</h4>
                    <p class="card-description">
                        I certify that the statements made by me in my personal profile are true, complete and correct.
                        I also certify that any documents provided in support of my application are authentic and accurate.
                        I understand that any false or misleading statement, or withholding relevant information,
                        may provide grounds for the withdrawal of any offer of appointment or the termination of employment.
                    </p> <br>
                    <p class="card-description">
                        I am aware that the most recent Personal History Form, Contact Information Form, Education Information
                        Form, Employment History Form, Family Details and Referee Details which I have submitted will
                        automatically update my application profile and may, as a result, replace information submitted for
                        other vacancies.
                    </p>


                    <div class="form-group mt-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ form.terms_and_conditions(type="checkbox", class="form-check-input") }}
                                I Accept
                                {%for error in form.terms_and_conditions.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Years of Experience in this Job *</label>
                                {{ form.years_of_experience(class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload your CV * (PDF Format only.)</label>
                                {{ form.cv_url(id="cv_field", type="hidden", class="ip") }}
                                    <div class="dropzone mb-4 pt-0 pr-0 pl-0 pb-0" id="cv">
                                        <div class="dz-message needsclick" style="margin: 0;">
                                            <span class="note needsclick"
                                                  {% if this_ed%}style="font-size: 20px;color: #0c19c7 !important;"
                                                  {% endif %}>
                                                {% if this_ed%}{{this_ed.cv_url}}{% else %}
                                                Your Resume{% endif %}</span>
                                        </div>
                                    </div>
                                {%for error in form.cv_url.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>

                        {% if job_applied.requires_license == 1%}
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label>Valid Practising License * (PDF Format only.)</label>
                                {{ form.license(id="license_field", type="hidden", class="ip") }}
                                    <div class="dropzone mb-4" id="license">
                                        <div class="dz-message needsclick" style="margin: 0;">
                                            <span class="note needsclick"
                                                  {% if this_ed%}style="font-size: 20px;color: #0c19c7 !important;"
                                                  {% endif %}>
                                                {% if this_ed%}{{this_ed.license}}{% else %}
                                                Your License{% endif %}</span>
                                        </div>
                                    </div>
                                {%for error in form.license.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="row mt-lg-4">
                        <div class="col-sm-6" style="margin: auto">
                            {{form.submit(class="btn btn-success")}}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/dropzone/dropzone.min.js') }}"></script>

<script>
$( document ).ready(function() {
    var c = new Dropzone("div#cv.mb-4", { url: "{{ url_for('applicant.upload_cv', app_id=application_to_complete.id) }}", headers: { 'X-CSRFToken': '{{csrf_token()}}' } });
    {% if job_applied.requires_license == 1%}
        var myDropzone4 = new Dropzone("div#license.mb-4", {
            url: "{{ url_for('applicant.upload_license', app_id=application_to_complete.id) }}",
            headers: {'X-CSRFToken': '{{csrf_token()}}'}
        });
    {% endif %}

    c.on("addedfile", function(file) {
        $('#cv_field').val(file.name)
        var removeButton = Dropzone.createElement("<button class='btn btn-danger btn-pill btn-sm'>Remove file</button>");

        var _this = c;

        removeButton.addEventListener("click", function(e) {
          e.preventDefault();
          e.stopPropagation();

          _this.removeFile(file);

          $('#cv_field').val("")
        });

        file.previewElement.appendChild(removeButton);

    });

    {% if job_applied.requires_license == 1%}
        myDropzone4.on("addedfile", function (file) {
            $('#license_field').val(file.name)
            var removeButton = Dropzone.createElement("<button class='btn btn-danger btn-pill btn-sm'>Remove file</button>");

            var _this = myDropzone4;

            removeButton.addEventListener("click", function (e) {
                e.preventDefault();
                e.stopPropagation();

                _this.removeFile(file);

                $('#license_field').val("")
            });

            file.previewElement.appendChild(removeButton);
        });
        {% endif %}
});



Dropzone.autoDiscover = false;

</script>
{%endblock%}