{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendors/dropzone/dropzone.min.css') }}">
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP</a></li>
        <li class="breadcrumb-item active" aria-current="page">Academic Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform repeater" enctype="multipart/form-data" method="post" action="{{url_for('applicant.education_info')}}">
                        {{form.hidden_tag()}}
                    <h4 class="card-title">Academic Details</h4>
                    <p class="card-description">
                        Please fill in the following required fields.
                    </p>

                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                Add educations details
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive pt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-toggle="fieldset" id="phone-fieldset" style="width: 100%;">
                                        <div id="items-table">
                                            {% for product in form.locum_academic_details %}
                                                <tr data-toggle="fieldset-entry" id="fe" class="uno">
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Year From *</label>
                                                            {{ product.year_from(placeholder="e.g 2016", class="form-control") }}
                                                            {% for error in product.year_from.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Year To *</label>
                                                            {{ product.year_to(placeholder="", class="form-control") }}
                                                            {% for error in product.year_to.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Name of institution *</label>
                                                            {{ product.name_of_institution(placeholder="", class="form-control") }}
                                                            {% for error in product.name_of_institution.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Award *</label>
                                                            {{ product.award(placeholder="", class="form-control") }}
                                                            {% for error in product.award.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Course *</label>
                                                            {{ product.course(placeholder="", class="form-control") }}
                                                            {% for error in product.course.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Specialization *</label>
                                                            {{ product.specialization(placeholder="", class="form-control") }}
                                                            {% for error in product.specialization.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Class/Grade *</label>
                                                            {{ product.class_grade(placeholder="", class="form-control") }}
                                                            {% for error in product.class_grade.errors %}
                                                                <span class="text-danger">{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-icon"
                                                                data-toggle="fieldset-remove-row"
                                                                id="phone-{{ loop.index0 }}-remove"
                                                                style="position: relative;top: 30px;">
                                                            <i data-feather="trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-2" style="text-align: center">
                            <button id="far" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                Add your Professional/Technical Qualifications or Certifications.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive pt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-toggle="fieldset" id="phone-fieldset2"  style="width: 100%;">
                                        <div id="items-table2">
                                            {% for product in form.professional %}
                                                <tr data-toggle="fieldset-entry" id="fe2" class="dos">
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Year From *</label>
                                                            {{product.year_from(placeholder="e.g 2016", class="form-control")}}
                                                            {%for error in product.year_from.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Year To *</label>
                                                            {{product.year_to(placeholder="", class="form-control")}}
                                                            {%for error in product.year_to.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Name of institution *</label>
                                                            {{product.name_of_institution(placeholder="", class="form-control")}}
                                                            {%for error in product.name_of_institution.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Award *</label>
                                                            {{product.award(placeholder="", class="form-control")}}
                                                            {%for error in product.award.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Specialization *</label>
                                                            {{product.specialization(placeholder="", class="form-control")}}
                                                            {%for error in product.specialization.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Class/Grade *</label>
                                                            {{product.class_grade(placeholder="", class="form-control")}}
                                                            {%for error in product.class_grade.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-icon"
                                                                data-toggle="fieldset-remove-row"
                                                                    id="phone2-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                            <i data-feather="trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mt-2" style="text-align: center">
                            <button id="far2" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset2"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                 Relevant Courses and Training attended Lasting not Less than Six (6) Weeks
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive pt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-toggle="fieldset" id="phone-fieldset4"  style="width: 100%;">
                                        <div id="items-table4">
                                            {% for product in form.locum_relevant_course %}
                                                <tr data-toggle="fieldset-entry" id="fe4" class="quattro">
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Year From </label>
                                                            {{product.year_from(placeholder="e.g 2016", class="form-control")}}
                                                            {%for error in product.year_from.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Year To </label>
                                                            {{product.year_to(placeholder="", class="form-control")}}
                                                            {%for error in product.year_to.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Name of institution </label>
                                                            {{product.name_of_institution(placeholder="", class="form-control")}}
                                                            {%for error in product.name_of_institution.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Name of course </label>
                                                            {{product.name_of_course(placeholder="", class="form-control")}}
                                                            {%for error in product.name_of_course.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <label>Details</label>
                                                            {{product.details(placeholder="", class="form-control")}}
                                                            {%for error in product.details.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger btn-icon"
                                                                data-toggle="fieldset-remove-row"
                                                                    id="phone4-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                            <i data-feather="trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-2" style="text-align: center">
                            <button id="far4" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset4"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>


                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                Membership to Professional Bodies.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive pt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-toggle="fieldset" id="phone-fieldset3"  style="width: 100%;">
                                        <div id="items-table3">
                                        {% for product in form.membership %}
                                            <tr data-toggle="fieldset-entry" id="fe3" class="tre">
                                                <td>
                                                    <div class="form-group">
                                                        <label>Professional Body </label>
                                                        {{product.professional_body(placeholder="", class="form-control")}}
                                                        {%for error in product.professional_body.errors%}
                                                        <span class="text-danger">{{error}}</span>
                                                        {%endfor%}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>Membership Number</label>
                                                        {{product.membership_registration_number(placeholder="", class="form-control")}}
                                                        {%for error in product.membership_registration_number.errors%}
                                                        <span class="text-danger">{{error}}</span>
                                                        {%endfor%}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>Membership Type</label>
                                                        {{product.membership_type(placeholder="", class="form-control")}}
                                                        {%for error in product.membership_type.errors%}
                                                        <span class="text-danger">{{error}}</span>
                                                        {%endfor%}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label>Date of Renewal</label>
                                                        {{product.date_of_renewal(placeholder="", class="form-control")}}
                                                        {%for error in product.date_of_renewal.errors%}
                                                        <span class="text-danger">{{error}}</span>
                                                        {%endfor%}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-icon"
                                                            data-toggle="fieldset-remove-row"
                                                                id="phone3-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                        <i data-feather="trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-2" style="text-align: center">
                            <button id="far3" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset3"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/dropzone/dropzone.min.js') }}"></script>
<script src="{{ url_for("static", filename="js/dibro.js") }}"></script>
    <script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    var selector = document.getElementsByClassName("yr");

    var im = new Inputmask("9999");
    im.mask(selector);
</script>
{%endblock%}