{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<style>

</style>
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employment Details</li>
    </ol>
</nav>
<form class="cmxform" method="post" action="{{url_for('applicant.employment_history')}}">
                    {{form2.hidden_tag()}}

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="form-group mb-4">
                        <div class="form-check">
                            <label class="form-check-label" style="color: #0279fa;text-transform: uppercase;font-size: .875rem;
    font-weight: 600;">
                                {{ form2.if_not_employed(type="checkbox", class="form-check-input") }}
                                Check if Not Currently Employed, then click save.
                                {%for error in form2.if_not_employed.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </label>
                        </div>
                    </div>

                    <p class="card-description">
                        Please fill in the following fields if you are currently working.
                    </p>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label>Are you in full time employment?</label>
                                        {{form2.full_time_employed(placeholder="", class="form-control")}}
                                        {%for error in form2.full_time_employed.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>If Yes, Name the Employer</label>
                                    {{form2.full_time_employer(placeholder="", class="form-control")}}
                                    {%for error in form2.full_time_employer.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>If Yes, County</label>
                                    {{form2.full_time_county(placeholder="", class="form-control")}}
                                    {%for error in form2.full_time_county.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label>Are you working with any other hospital on locum basis?</label>
                                        {{form2.locum_employed(placeholder="", class="form-control")}}
                                        {%for error in form2.locum_employed.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>If Yes, Name the Employer</label>
                                    {{form2.locum_employer(placeholder="", class="form-control")}}
                                    {%for error in form2.locum_employer.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>County</label>
                                    {{form2.locum_county(placeholder="", class="form-control")}}
                                    {%for error in form2.locum_county.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Position Held</label>
                                    {{form2.position_held(placeholder="", class="form-control")}}
                                    {%for error in form2.position_held.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Terms of Service</label>
                                    {{form2.terms_of_service(placeholder="Terms of Service", class="form-control")}}
                                    {%for error in form2.terms_of_service.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            {{form2.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}
{% block scripts %}
  {{ super() }}
    <script src="{{ url_for("static", filename="js/dibro.js") }}"></script>
    <script>
        $(function() {
          'use strict';

          if($('#datePicker').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datePicker').datepicker({
              format: "dd/mm/yyyy",
              todayHighlight: true,
              autoclose: true
            });
            $('#datePicker').datepicker('setDate', today);
          }
          if($('#datePicker2').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datePicker2').datepicker({
              format: "dd/mm/yyyy",
              todayHighlight: true,
              autoclose: true
            });
            $('#datePicker2').datepicker('setDate', today);
          }
        });
        $(function() {
        var today = new Date();
        var dd = today.getDate();

        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        var th = '{{ this_eh.if_not_employed }}';

        if (th === 'True') {
            $("#full_time_employed").prop("readonly", true);
            $("#name_of_employer_full_time").prop("readonly", true);
            $("#full_time_county").prop("disabled", true);
            $("#locum_employed").prop("readonly", true);
            $("#name_of_employer_locum").prop("readonly", true);
            $("#locum_employed_county").prop("disabled", true);
            $("#terms_of_service").prop("disabled", true);
            $("#position_held").val("None").prop("readonly", true);
        }
        else {
            $("#full_time_employed").prop("readonly", false);
            $("#name_of_employer_full_time").prop("readonly", false);
            $("#full_time_county").prop("disabled", false);
            $("#locum_employed").prop("readonly", false);
            $("#name_of_employer_locum").prop("readonly", false);
            $("#locum_employed_county").prop("disabled", false);
            $("#terms_of_service").prop("disabled", false);
            $("#position_held").prop("readonly", false);
        }
    });
    </script>
{% endblock %}
