{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP</a></li>
        <li class="breadcrumb-item active" aria-current="page">Availability</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Availability for Locum Shifts</h4>
                <p class="card-description">
                    Please fill in the following required fields
                </p>
                <form class="cmxform" method="post" action="{{url_for('applicant.locum_availability')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>How many days per month will you be available?</label>
                                {{form.days_per_month(placeholder="", class="form-control")}}
                                {%for error in form.days_per_month.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">

                                <p class="mb-2">Soonest date you can be available for this position? (dd/mm/yyyy)</p>
                                <div class="input-group date datepicker" id="datePicker"
                                style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                    {{form.soonest_date_available(class="form-control")}}
                                    <span class="input-group-addon"><i
                                            data-feather="calendar"></i></span>
                                    {%for error in form.soonest_date_available.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">

                                    <label>Are there any conditions or circumstances that
                                        may affect your availability and/or performance in
                                        execution of your duties in this position?</label>
                                    {{form.affecting_conditions(placeholder="", class="form-control", onchange="changeFunc();")}}
                                    {%for error in form.affecting_conditions.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>If yes, please provide more details</label>
                                {{form.reasons(placeholder="", class="form-control")}}
                                {%for error in form.reasons.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    var selector = document.getElementsByClassName("pn");

    var im = new Inputmask("+254999999999");
    im.mask(selector);
</script>
     <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker').datepicker('setDate',
            {% if this_la %}'{{ this_la.soonest_date_available }}'
            {% else %} ''
            {% endif %}
        );
      }
    });

    var ac = '{{ this_la.affecting_conditions}}';

    if (ac === 'NO') {
        $("#reasons").prop("readonly", true);
    }
    else{
        $("#reasons").prop("readonly", false);
    }
    function changeFunc() {
        var affecting_conditions = document.getElementById("affecting_conditions");
        var selectedValue = affecting_conditions.options[affecting_conditions.selectedIndex].value;
        if (selectedValue === 'NO') {
            $("#reasons").prop("readonly", true);
        }
        else{
            $("#reasons").prop("readonly", false);
        }
    }
    </script>
{%endblock%}
