{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP</a></li>
        <li class="breadcrumb-item active" aria-current="page">Other Personal Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Other Personal Details</h4>
                <p class="card-description">
                    Please fill in the following required fields
                </p>
                <form class="cmxform" method="post" action="{{url_for('applicant.other_personal_details')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                    <label>Have you ever been convicted of any criminal offence or a subject of
                                        probation order?</label>
                                {{form.if_ever_convicted(placeholder="", class="form-control", onchange="changeFunc();")}}
                                {%for error in form.if_ever_convicted.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}


                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label>If Yes, state nature of offence, the year and duration of conviction</label>
                                {{form.nature_of_offence(placeholder="", class="form-control")}}
                                {%for error in form.nature_of_offence.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-5">
                            <div class="form-group">

                                    <label>
                                        Have you ever been dismissed or otherwise removed from employment?</label>
                                {{form.if_ever_dismissed(placeholder="", class="form-control", onchange="changeFunc2();")}}
                                {%for error in form.if_ever_dismissed.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>If Yes, State reason (s) for dismissal/removal</label>
                                {{form.reason_for_dismissal(placeholder="", class="form-control")}}
                                {%for error in form.reason_for_dismissal.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p class="mb-2">Effective date</p>
                                <div class="input-group date datepicker" id="datePicker"
                                style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                    {{form.effective_date(class="form-control")}}
                                    <span class="input-group-addon"><i
                                            data-feather="calendar"></i></span>
                                    {%for error in form.effective_date.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    var selector = document.getElementsByClassName("pn");

    var im = new Inputmask("+254999999999");
    im.mask(selector);
</script>
<script>
$(function() {
  'use strict';

  if($('#datePicker').length) {
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#datePicker').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      autoclose: true
    });

     $('#datePicker').datepicker('setDate',
            {% if this_op %}'{{ this_op.effective_date }}'
            {% else %} ''
            {% endif %}
        );
  }
});
function changeFunc() {
    var if_ever_convicted = document.getElementById("if_ever_convicted");
    var selectedValue = if_ever_convicted.options[if_ever_convicted.selectedIndex].value;
    if (selectedValue === 'NO') {
        $("#nature_of_offence").prop("readonly", true);
    }
    else{
        $("#nature_of_offence").prop("readonly", false);
    }
}
function changeFunc2() {
    var if_ever_dismissed = document.getElementById("if_ever_dismissed");
    var selectedValue = if_ever_dismissed.options[if_ever_dismissed.selectedIndex].value;
    if (selectedValue === 'NO') {
        $("#reason_for_dismissal").prop("readonly", true);
        $("#effective_date").prop("readonly", true);
    }
    else{
        $("#reason_for_dismissal").prop("readonly", false);
        $("#effective_date").prop("readonly", false);
    }
}
</script>
{%endblock%}
