{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP ONE</a></li>
        <li class="breadcrumb-item active" aria-current="page">Personal Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <form class="cmxform" method="post" action="{{url_for('applicant.personal_history')}}">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Personal Details</h4>
                            <p class="card-description">
                                Please fill in the following required fields.
                            </p>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Title</label>
                                        {{form.title(placeholder="Title", class="form-control")}}
                                        {%for error in form.title.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>First Name *</label>
                                        {{form.first_name(placeholder="First Name", class="form-control")}}
                                        {%for error in form.first_name.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Second Name *</label>
                                        {{form.second_name(placeholder="Second Name", class="form-control")}}
                                        {%for error in form.second_name.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Surname *</label>
                                        {{form.surname(placeholder="Surname", class="form-control")}}
                                        {%for error in form.surname.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Gender *</label>
                                        {{form.gender(placeholder="--Select--", class="form-control")}}
                                        {%for error in form.gender.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Civil Status *</label>
                                        {{form.civil_status(placeholder="Civil Status", class="form-control")}}
                                        {%for error in form.civil_status.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <p class="mb-2">Date Of Birth</p>
                                        <div class="input-group date datepicker" id="datePicker"
                                        style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                            {{form.dob(class="form-control")}}
                                            <span class="input-group-addon"><i
                                                    data-feather="calendar"></i></span>
                                            {%for error in form.dob.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Are you of Kenyan Nationality?</label>
                                        {{ form.test_nationality(class="form-control") }}
                                        {%for error in form.test_nationality.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" id="band">
                                        <label>Your Country *</label>
                                        {{ form.country_of_residence(class="form-control") }}
                                        {%for error in form.country_of_residence.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" id="bandit">
                                        <label>Nationality *</label>
                                        {{form.nationality(placeholder="Nationality", class="form-control")}}
                                        {%for error in form.nationality.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="bandwagon">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Home County *</label>
                                        {{form.home_county(placeholder="Home County", class="form-control")}}
                                        {%for error in form.home_county.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Ethnicity*</label>
                                        {{form.ethnicity(placeholder="Ethnicity", class="form-control")}}
                                        {%for error in form.ethnicity.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email *</label>
                                {{form.email(placeholder="Email", class="form-control")}}
                                {%for error in form.email.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Postal Address & Code</label>
                                {{form.postal_address(placeholder="Postal Address", class="form-control")}}
                                {%for error in form.postal_address.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Town *</label>
                                {{form.town(placeholder="Town", class="form-control")}}
                                {%for error in form.town.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number *</label>
                                {{form.phone_number_personal(placeholder="+", class="form-control pn")}}
                                {%for error in form.phone_number_personal.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Alternate Phone Number</label>
                                {{form.phone_number_alternate(placeholder="Alternate Phone Number", class="form-control pn")}}
                                {%for error in form.phone_number_alternate.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-check">
											<label class="form-check-label">
                                                {{form.disability(class="form-check-input", type="checkbox", style="")}}
												Check here if you have a disability *
											</label>
										</div>

                                        {%for error in form.disability.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>If YES, Nature of disability </label>
                                        {{form.disability_nature(placeholder="Nature of disability", class="form-control")}}
                                        {%for error in form.disability_nature.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>If YES, Disability Registration Details </label>
                                        {{form.disability_registration_details(placeholder="Disability registration details", class="form-control")}}
                                        {%for error in form.disability_registration_details.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block scripts%}
    <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker').datepicker('setDate',
            {% if current_user.dob %}'{{ current_user.dob }}'
            {% else %} ''
            {% endif %}
        );
      }
    });
    </script>
    <script>
        $("#test_nationality").change(function() {
          if ($(this).val() == "YES") {
            $('#bandwagon').show();
            $('#band').hide();
            $('#bandit').hide();

          } else {
            $('#bandwagon').hide();
            $('#band').show();
            $('#bandit').show();

          }
        });
        $("#test_nationality").trigger("change");
    </script>
{%  endblock %}