{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="cover" style="display: none">
                    <div class="gray-shade"></div>
                    <figure>
                        <img src="https://via.placeholder.com/1148x272" class="img-fluid" alt="profile cover">
                    </figure>
                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div>
                            <img class="profile-pic" src="https://via.placeholder.com/100x100" alt="profile">
                            <span class="profile-name">{{ current_user.full_name() }}</span>
                        </div>
                        <div class="d-none d-md-block">
                            <button class="btn btn-primary btn-icon-text btn-edit-profile">
                                <i data-feather="edit" class="btn-icon-prepend"></i> Edit profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header-links">
                    <ul class="links d-flex align-items-center mt-3 mt-md-0">
{#                        <li class="header-link-item d-flex align-items-center">#}
{#                            <i class="mr-1 icon-md" data-feather="columns"></i>#}
{#                            <a class="pt-1px d-none d-md-block" href="{{url_for('applicant.profile')}}">Profile</a>#}
{#                        </li>#}
                        <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center  active">
                            <i class="mr-1 icon-md" data-feather="user"></i>
                            <a class="pt-1px d-none d-md-block" href="{{url_for('applicant.profile_summary')}}">Summary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="lint">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="col-lg-3 pl-0">
                            <a href="#" class="noble-ui-logo d-block mt-3 mb-lg-4">
                            <img src="{{ url_for('static', filename='images/logo.png') }}"></a>
                            <p class="mt-1 mb-1"><b>{{user.full_name()}}</b></p>
                            <p class="mt-1 mb-1"><b>{{user.email}}</b></p>
                            <p class="mt-1 mb-1"><b>{{user.phone_number_personal}}</b></p>
                            <p>{{user.address}},<br>{{user.county}}</p>
                        </div>

                    </div>
                    <div class="container-fluid mt-5 w-100">
                        <div class="row">
                            <div class="col-md-12 ml-auto">
                                <h6 style="color: #0279fa;">Personal Details</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Full Name</td>
                                            <td class="text-right">{{user.full_name()}}</td>
                                        </tr>
                                        <tr>
                                            <td>ID Number</td>
                                            <td class="text-right">{{user.id_number}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-800">Date of Birth</td>
                                            <td class="text-bold-800 text-right">
                                                {{user.dob}}</td>
                                        </tr>
                                        <tr>
                                            <td>Home County</td>
                                            <td class="text-right">{{user.home_county}}</td>
                                        </tr>
                                        <tr>
                                            <td>Civil Status</td>
                                            <td class="text-right" style="text-transform: capitalize">{{user.civil_status}}</td>
                                        </tr>
                                        <tr>
                                            <td>County of Residence</td>
                                            <td class="text-right" style="text-transform: capitalize">{{user.county}}</td>
                                        </tr>

                                        <tr class="bg-light">
                                            <td class="text-bold-800">Current Position and Employer</td>
                                            <td class="text-bold-800 text-right" style="text-transform: capitalize;">
                                                {% if employment_details.full_time_employed %}
                                                {{employment_details.position_held}}
                                                {% elif employment_details.locum_employed %}
                                                {{employment_details.position_held}}
                                                {% endif %},
                                                {% if employment_details.full_time_employed %}
                                                {{employment_details.full_time_employer}}
                                                {% elif employment_details.locum_employed %}
                                                {{employment_details.locum_employed}}
                                                {% endif %}

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Employment History Details</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name of Institution</th>
                                        <th class="text-right">Designation</th>
                                        <th>Duration</th>
                                        <th>Gross Salary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employment in employment_history %}
                                        <tr class="text-right">
                                        {% set to = employment.year_to | int%}
                                        {% set from = employment.year_from | int%}
                                            {% set duration = to - from %}
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ employment.name_of_institution }}</td>
                                            <td>{{ employment.designation }}</td>
                                            <td class="text-left">{{ duration }} Years</td>
                                            <td class="text-left">{{ employment.gross_salary }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Availability Details</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Days Per Month</th>
                                        <th class="text-right">Affecting Conditions</th>
                                        <th>Reasons</th>
                                        <th>Soonest Date Available</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for av in this_la %}
                                        <tr class="text-right">
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ av.days_per_month }}</td>
                                            <td>{{ av.affecting_conditions }}</td>
                                            <td class="text-left">{{ av.reasons }}</td>
                                            <td class="text-left">{{ av.soonest_date_available }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Other Personal Details</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Convicted</th>
                                        <th>Nature Of Offence</th>
                                        <th>Dismissed</th>
                                        <th>Reason</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for op in this_op %}
                                        <tr class="text-right">
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ op.if_ever_convicted }}</td>
                                            <td class="text-left">{{ op.nature_of_offence }}</td>
                                            <td class="text-left">{{ op.if_ever_dismissed }}</td>
                                            <td class="text-left">{{ op.reason_for_dismissal }}</td>
                                            <td class="text-left">{{ op.effective_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Academic Details</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Year From</th>
                                        <th>Year To</th>
                                        <th>Name Of Institution</th>
                                        <th>Course</th>
                                        <th>Award</th>
                                        <th>Specialization</th>
                                        <th>Class/Grade</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in education_details %}
                                        <tr class="text-right">
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ p.year_from }}</td>
                                            <td class="text-left">{{ p.year_to }}</td>
                                            <td class="text-left">{{ p.name_of_institution }}</td>
                                            <td class="text-left">{{ p.course }}</td>
                                            <td class="text-left">{{ p.award }}</td>
                                            <td class="text-left">{{ p.specialization }}</td>
                                            <td class="text-left">{{ p.class_grade }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Professional/Technical Certifications</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Year From</th>
                                        <th>Year To</th>
                                        <th>Name Of Institution</th>
                                        <th>Award</th>
                                        <th>Specialization</th>
                                        <th>Class/Grade</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in prof %}
                                        <tr class="text-right">
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ p.year_from }}</td>
                                            <td class="text-left">{{ p.year_to }}</td>
                                            <td class="text-left">{{ p.name_of_institution }}</td>
                                            <td class="text-left">{{ p.award }}</td>
                                            <td class="text-left">{{ p.specialization }}</td>
                                            <td class="text-left">{{ p.class_grade }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Area of Interest</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Name</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <td class="text-left">{{ this_roi.name_of_interest }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="color: #0279fa;">Referees</h6>
                                <div class="table-responsive w-100">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Email Address</th>
                                            <th>Phone Number</th>
                                            <th>Occupation</th>
                                            <th>Address</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-right">
                                                <td class="text-left">1</td>
                                                <td class="text-left">{{ referees.name }}</td>
                                                <td class="text-left">{{ referees.email_address }}</td>
                                                <td class="text-left">{{ referees.phone_number }}</td>
                                                <td class="text-left">{{ referees.occupation }}</td>
                                                <td class="text-left">{{ referees.address }}</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left">2</td>
                                                <td class="text-left">{{ referees.name_2 }}</td>
                                                <td class="text-left">{{ referees.email_address_2 }}</td>
                                                <td class="text-left">{{ referees.phone_number_2 }}</td>
                                                <td class="text-left">{{ referees.occupation_2 }}</td>
                                                <td class="text-left">{{ referees.address_2 }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block scripts %}
<script>
$(function() {
  'use strict';

  if($('#datePickerExample').length) {
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#datePickerExample').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      autoclose: true
    });
    // var ub = new Date('{{user_dob}}');
    $('#datePickerExample').datepicker('setDate', {%if user_dob%}'{{user_dob}}'{%else%} today {%endif%});
  }
});
</script>
{% endblock %}