{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP SIX</a></li>
        <li class="breadcrumb-item active" aria-current="page">Your Referees</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <form class="cmxform" method="post" action="{{url_for('applicant.reference_details')}}" style="width: 100%">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title" style="font-size: 1.475rem">Reference Details</h3>
                            <p class="card-description">
                                Three references should be filled below. Please fill in the following required fields.
                            </p>
                            <h4 class="card-title">First Referee</h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Name *</label>
                                        {{form.name(placeholder="Name", class="form-control")}}
                                        {%for error in form.name.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Mobile Number *</label>
                                        {{form.phone_number(placeholder="Mobile Number", class="form-control")}}
                                        {%for error in form.phone_number.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Occupation *</label>
                                        {{form.occupation(placeholder="Occupation", class="form-control")}}
                                        {%for error in form.occupation.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Second Referee</h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Name *</label>
                                        {{form.name_2(placeholder="Name", class="form-control")}}
                                        {%for error in form.name_2.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Mobile Number *</label>
                                        {{form.phone_number_2(placeholder="Mobile Number", class="form-control")}}
                                        {%for error in form.phone_number_2.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Occupation *</label>
                                        {{form.occupation_2(placeholder="Occupation", class="form-control")}}
                                        {%for error in form.occupation_2.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}