{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<style>
    .col-sm-6, .desc{
        color: #76838f;;
    }
</style>
<!-- PAGE CSS-->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 main-content pl-xl-4 pr-xl-5">
        <h4 class="page-title">{{job.job_title}}</h4>
        <hr class="mt-4 mb-4">

        <div class="row mb-lg-4">
            <div class="col-sm-6">
                <span style="color: #007bff;">Reference Number:</span> {{ job.job_reference_number }}
            </div>
            <div class="col-sm-6">
                <span style="color: #007bff;">Publication Date:</span> {{ "{:%d/%m/%Y}".format(job.availability_from) }}
            </div>
        </div>
        <div class="row mb-lg-4">
            <div class="col-sm-6">
                <span style="color: #007bff;">Job Title:</span> {{ job.job_title }}
            </div>
            <div class="col-sm-6">
                <span style="color: #007bff;">Deadline:</span> <span style="color: #ff3366">{{ "{:%d/%m/%Y}".format(job.availability_to) }}</span>
            </div>
        </div>
        <div class="row mb-lg-4">
            <div class="col-sm-6">
                <span style="color: #007bff;">Type of Contract:</span> {%if job.type_of_contract%}{{ job.type_of_contract }}
                {%else%} To be determined {%endif%}
            </div>
            <div class="col-sm-6">
               <span style="color: #007bff;"> Available Positions:</span> {{ job.positions }}
            </div>
        </div>

        <hr class="mt-2 mb-4">

        <h6 style="text-decoration: underline">Main Duties/Qualifications</h6>
        <div class="row">
            <div class="col-sm-12 desc">
                <p>{{job.long_description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                 <form class="cmxform" action="{{ url_for('applicant.start_application', job_title=job.job_title)}}" method="post">
                        {{ form.hidden_tag() }}
                     {{ form.submit(class="btn btn-primary mt-lg-4", style="float: right;") }}
                 </form>
            </div>
        </div>

    </div>
</div>
{% endblock%}