<p>Dear {{ user.full_name() }}, You have successfully applied!</p>

<p><strong>{{ user.full_name() }}</strong> has been registered on our system</p>

<p>{{ user.full_name() }} has successfully submitted a job application. </p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored. Do not reply</small></p>
