<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row mb-lg-2">
                <div class="col-sm-12">
                    <h5>REF. NO: {{listing.job_reference_number}}</h5>
                    <h6>TITLE: {{listing.job_title}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-lg-2">
                    <p>AVAILABLE FROM: {{listing.availability_from}}</p>
                    <p>AVAILABLE TO: {{listing.availability_to}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-lg-2">
                    <p>POSITIONS AVAILABLE: {{listing.positions}}</p>
                    <p>STATUS: {{listing.published}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
