{% extends 'layouts/admin_base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('admin.job_listings')}}">Jobs</a></li>
        <li class="breadcrumb-item active" aria-current="page">CREATE NEW JOB LISTING</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" method="post" action="{{url_for('admin.newListing')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Job Reference Number *</label>
                                {{form.job_reference_number(placeholder="Job Reference Number", class="form-control")}}
                                {%for error in form.job_reference_number.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Job Title *</label>
                                {{form.job_title(placeholder="Job Title", class="form-control")}}
                                {%for error in form.job_title.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Available From *</label>
                                <div class="input-group date datepicker" id="datePicker"
                                style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                    {{form.availability_from(class="form-control")}}
                                    <span class="input-group-addon"><i
                                            data-feather="calendar"></i></span>
                                    {%for error in form.availability_from.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Available To *</label>
                                <div class="input-group date datepicker" id="datePicker2"
                                style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                    {{form.availability_to(class="form-control")}}
                                    <span class="input-group-addon"><i
                                            data-feather="calendar"></i></span>
                                    {%for error in form.availability_to.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Positions *</label>
                                {{form.positions(placeholder="Positions", class="form-control")}}
                                {%for error in form.positions.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Short Description</label>
                                {{form.short_description(placeholder="Short Description", class="form-control")}}
                                {%for error in form.short_description.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Long Description</label>
                                {{form.long_description(placeholder="Long Description", class="form-control")}}
                                {%for error in form.long_description.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Additional Info</label>
                                {{form.additional_info(placeholder="Additional Information", class="form-control")}}
                                {%for error in form.additional_info.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Policy</label>
                                {{form.policy(placeholder="Policy", class="form-control")}}
                                {%for error in form.policy.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        {{form.requires_license(class="form-check-input", type="checkbox", style="")}}
                                        Does it require a license?
                                    </label>
                                </div>

                                {%for error in form.requires_license.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts%}
    <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });


        $('#datePicker').datepicker('setDate', today);
      }
      if($('#datePicker2').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker2').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker2').datepicker('setDate', today);
      }
    });
    </script>
{%  endblock %}