{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
    {{ super() }}
    <!-- CORE CSS-->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons/buttons.dataTables.min.css') }}">
    <!-- end plugin css for this page -->
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('publisher.applications') }}">Applications</a></li>
                <li class="breadcrumb-item active" aria-current="page">VIEW APPLICATIONS</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">Manual Applications</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">View</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Delete</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Print</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Download</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Applicant Name</th>
                                <th class="pt-0">Job Ref. No.</th>
                                <th class="pt-0">Job Title</th>
                                <th class="pt-0">Application Date</th>
                                <th class="pt-0">Gender</th>
                                <th class="pt-0">ID Number</th>
                                <th class="pt-0">Home County</th>
                                <th class="pt-0">Ethnicity</th>
                                <th class="pt-0">Nationality</th>
                                <th class="pt-0">Date of Birth</th>
                                <th class="pt-0">Age</th>
                                <th class="pt-0">Phone Number</th>
                                <th class="pt-0">Email</th>
                                <th class="pt-0">Address</th>
                                <th class="pt-0">Alternative Contact</th>
                                <th class="pt-0">Disability</th>
                                <th class="pt-0">Disability Details</th>
                                <th class="pt-0">Highest Level Of Education</th>
                                <th class="pt-0">Education Details</th>
                                <th class="pt-0">Relevant Course or Certification</th>
                                <th class="pt-0">Registration to Professional Bodies</th>
                                <th class="pt-0">Summary</th>
                                <th class="pt-0">Total Work Experience</th>
                                <th class="pt-0">Relevant Work Experience</th>
                                <th class="pt-0">Status</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for application in manual_apps %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{% if current_user.role.name=='Administrator' %}
                                            {{ url_for('publisher.edit_application', id=application.id) }}{% else %}
                                            #{% endif %}">{{ application.first_name }} {{ application.surname }}</a>
                                    </td>
                                    <td><a href="#">{{ application.job_reference_number }}</a>
                                    </td>
                                    <td><a href="#">{{ application.job_title }}</a>
                                    </td>
                                    <td>
                                        {{ moment(application.get_time()).format('MMMM Do YYYY, h:mm:ss a') }}
                                    </td>
                                    <td>{{ application.gender }}</td>
                                    <td>{{ application.id_number }}</td>
                                    <td>{{ application.home_county }}</td>
                                    <td>{{ application.ethnicity }}</td>
                                    <td>{{ application.nationality }}</td>
                                    <td>{{ application.age }}</td>
                                    {% set d = application.age | int %}
                                    {% set n = 2020 - d %}
                                    <td>{{ n }}</td>
                                    <td>{{ application.phone_number_personal }}</td>
                                    <td>{{ application.email }}</td>
                                    <td>{{ application.address }}</td>
                                    <td>{{ application.phone_number_alternate }}</td>
                                    <td>{% if application.disability %}{{ application.disability }}{% else %}
                                        None{% endif %}</td>
                                    <td>{% if application.disability_nature %}
                                        {{ application.disability_nature }}{% else %}None{% endif %}</td>
                                    <td>{{ application.highest_level_education }}</td>
                                    <td>
                                        <ul style="list-style: none;padding-bottom: 0;margin-bottom: 0;">
                                            <li>{{ application.phd_certificate_obtained }}</li>
                                            <li>{{ application.masters_certificate_obtained }}</li>
                                            <li>{{ application.degree_certificate_obtained }}</li>
                                            <li>{{ application.higher_diploma_certificate_obtained }}</li>
                                            <li>{{ application.diploma_certificate_obtained }}</li>
                                            <li>{{ application.certificate_obtained }}</li>
                                        </ul>
                                    </td>
                                    <td>{{ application.relevant_certification }}</td>
                                    <td>{{ application.registration }}</td>
                                    <td></td>
                                    <td>{{ application.total_work_experience }}</td>
                                    <td>{{ application.relevant_work_experience }}</td>
                                    <td><span class="badge badge-success">Submitted</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <!-- plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons/buttons.html5.min.js') }}"></script>
    <!-- end plugin js for this page -->

    <script>

        $(function () {
            'use strict';

            $(function () {
                $('#dataTable').DataTable({
                    "aLengthMenu": [
                        [10, 30, 50, -1],
                        [10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        {
                            extend: 'excel',
                            messageTop: 'All The Applications.'
                        },
                    ]
                });
                $('#dataTable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
            });

        });
    </script>
    <script>
        $(function () {
            'use strict';

            if ($('#datePickerExample').length) {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#datePickerExample').datepicker({
                    format: "dd/mm/yyyy",
                    todayHighlight: true,
                    autoclose: true
                });
                // var ub = new Date('{{user_dob}}');
                $('#datePickerExample').datepicker('setDate', today)
            }
        });
    </script>
{% endblock %}
