{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
    {{ super() }}
    <style>
        td.s {
            padding: 0 !important;
            border-top: none !important;
            vertical-align: initial;
        }

        td.prejudice {
            padding: 0.875rem 0.9375rem !important;
        }
    </style>
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons/buttons.dataTables.min.css') }}">
    <!-- end plugin css for this page -->
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('admin.job_listings') }}">Jobs</a></li>
                <li class="breadcrumb-item active" aria-current="page">VIEW JOB</li>
            </ol>
        </nav>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <a href="{{ url_for('admin.edit_listing', id=listing.id) }}" type="button" class="btn btn-primary">EDIT
                JOB</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-10 main-content pl-xl-4 pr-xl-5">
            <h1 class="page-title">{{ listing.job_title }}</h1>
            <p class="lead">{{ listing.long_description }}</p>
            <hr>
            <h4 id="default">REF. NO: <span style="color: #007bff;">{{ listing.job_reference_number }}</span></h4>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0 pt-1 pb-1">Complete Details</h5>
                </div>
                <div class="card-body pt-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Available From: <span
                                style="color: #007bff;">{{ "{:%d/%m/%Y}".format(listing.availability_from) }}</span>
                        </li>
                        <li class="list-group-item">Available To: <span
                                style="color: #007bff;">{{ "{:%d/%m/%Y}".format(listing.availability_to) }}</span></li>
                        <li class="list-group-item">Positions: <span
                                style="color: #007bff;">{{ listing.positions }}</span></li>
                        <li class="list-group-item">Additional Info: <span
                                style="color: #007bff;">{% if listing.additional_info %}{{ listing.additional_info }}
                        {% else %} None {% endif %}
                    </span></li>
                        <li class="list-group-item">Policy: <span style="color: #007bff;">{% if listing.policy %}
                            {{ listing.policy }}
                        {% else %} None {% endif %}</span></li>
                        <li class="list-group-item">Published: <span style="color: #007bff;">{% if listing.published %}
                            Yes
                        {% else %} No {% endif %}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 main-content pl-xl-4 pt-xl-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">All Applications</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">View</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Delete</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Print</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Download</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Applicant Name</th>
                                <th class="pt-0">Job Ref. No.</th>
                                <th class="pt-0">Job Title</th>
                                <th class="pt-0">Application Date</th>
                                <th class="pt-0">Gender</th>
                                <th class="pt-0">ID Number</th>
                                <th class="pt-0">Home County</th>
                                <th class="pt-0">Ethnicity</th>
                                <th class="pt-0">Nationality</th>
                                <th class="pt-0">Date of Birth</th>
                                <th class="pt-0">Phone Number</th>
                                <th class="pt-0">Email</th>
                                <th class="pt-0">Address</th>
                                <th class="pt-0">Alternative Contact</th>
                                <th class="pt-0">Disability</th>
                                <th class="pt-0">Disability Details</th>
                                <th class="pt-0">Highest Level Of Education</th>
                                <th class="pt-0">PHD</th>
                                <th class="pt-0">MASTERS</th>
                                <th class="pt-0">DEGREE</th>
                                <th class="pt-0">HIGHER DIPLOMA</th>
                                <th class="pt-0">DIPLOMA</th>
                                <th class="pt-0">CERTIFICATE</th>
                                <th class="pt-0">Relevant Course or Certification</th>
                                <th class="pt-0">Registration to Professional Bodies</th>
                                <th class="pt-0">Work History</th>
                                <th class="pt-0">PF NUMBER</th>
                                <th class="pt-0">Total Work Experience</th>
                                <th class="pt-0">Relevant Work Experience</th>
                                <th class="pt-0">Source</th>
                                <th class="pt-0">Days Available</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for application in job_applications %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><a {% if application.status == 'pending' %}data-toggle="tooltip"
                                           data-placement="top" title="Incomplete Application"{% endif %}
                                           href="{% if application.status == 'pending' %}#{% else %} {{ url_for('admin.view_application', id=application.id) }}{% endif %}">{{ application.user.full_name() }}</a>
                                    </td>
                                    <td><a href="#">{{ application.listing.job_reference_number }}</a></td>
                                    <td><a href="#">{{ application.listing.job_title }}</a></td>
                                    <td>{{ moment(application.get_time()).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                    <td>{{ application.user.gender }}</td>
                                    <td>{{ application.user.id_number }}</td>
                                    <td>{{ application.user.home_county }}</td>
                                    <td>{{ application.user.ethnicity }}</td>
                                    <td>{{ application.user.nationality }}</td>
                                    <td>{{ application.user.dob }}</td>
                                    <td>{{ application.user.phone_number_personal }}</td>
                                    <td>{{ application.user.email }}</td>
                                    <td>{{ application.user.address }}</td>
                                    {% set user_id = application.user.id %}
                                    {% set fam = family.query.filter_by(user_id=user_id).first() %}
                                    <td>{{ fam.phone_number }}</td>
                                    <td>{% if application.user.disability %}{{ application.user.disability }}{% else %}
                                        None{% endif %}</td>
                                    <td>{% if application.user.disability_nature %}
                                        {{ application.user.disability_nature }}{% else %}None{% endif %}</td>
                                    {% set phd = phd.query.filter_by(user_id=user_id).all() %}
                                    {% set masters = masters.query.filter_by(user_id=user_id).all() %}
                                    {% set degree = degree.query.filter_by(user_id=user_id).all() %}
                                    {% set higher_diploma = higher_diploma.query.filter_by(user_id=user_id).all() %}
                                    {% set diploma = diploma.query.filter_by(user_id=user_id).all() %}
                                    {% set certificate = certificate.query.filter_by(user_id=user_id).all() %}
                                    {% set lads = education_details.query.filter_by(user_id=user_id).all() %}
                                    <td>{{ application.user.highest_level_education }}</td>

                                    <td style="padding: 0 !important; border-top: none !important;" class="s">
                                        <table class="table mb-0">
                                            <tbody>
                                            {% for lad in lads %}
                                            {% if lad.award == 'doctorate' %}
                                                <tr class="text-right">
                                                    <td class="text-left">{{ lad.course }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding: 0 !important; border-top: none !important;" class="s">
                                        <table class="table mb-0">
                                            <tbody>
                                            {% for lad in lads %}
                                            {% if lad.award == 'masters' %}
                                                <tr class="text-right">
                                                    <td class="text-left">{{ lad.course }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding: 0 !important; border-top: none !important;" class="s">
                                        <table class="table mb-0">
                                            <tbody>
                                            {% for lad in lads %}
                                            {% if lad.award == 'degree' %}
                                                <tr class="text-right">
                                                    <td class="text-left">{{ lad.course }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding: 0 !important; border-top: none !important;" class="s">
                                        <table class="table mb-0">
                                            <tbody>
                                            {% for lad in lads %}
                                            {% if lad.award =='higher_diploma' %}
                                                <tr class="text-right">
                                                    <td class="text-left">{{ lad.course }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding: 0 !important; border-top: none !important;" class="s">
                                        <table class="table mb-0">
                                            <tbody>
                                            {% for lad in lads %}
                                            {% if lad.award == 'diploma' %}
                                                <tr class="text-right">
                                                    <td class="text-left">{{ lad.course }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="padding: 0 !important; border-top: none !important;" class="s">
                                        <table class="table mb-0">
                                            <tbody>
                                            {% for lad in lads %}
                                            {% if lad.award == 'certificate' %}
                                                <tr class="text-right">
                                                    <td class="text-left">{{ lad.course }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>

                                    {% set prof = p.query.filter_by(user_id=user_id).first() %}
                                    <td>{{ prof.award }}</td>
                                    {% set mem = m.query.filter_by(user_id=user_id).first() %}
                                    <td>{{ mem.name_of_membership }}</td>
                                    {% if employment %}
                                        {% set emporiums = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.desc()).all() %}
                                        {% set empLast = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.desc()).first() %}
                                        {% set emp = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.asc()).first() %}
                                        {% if emporiums %}
                                            {% set summary = emporiums %}
                                        {% else %}
                                            {% set summary = 'None' %}
                                        {% endif %}
                                        {% if emp %}
                                            {% set from = emp.year_from | int %}
                                        {% else %}
                                            {% set from = 2020 %}
                                        {% endif %}
                                        {% if empLast %}
                                            {% set to = empLast.year_to | int %}
                                        {% else %}
                                            {% set to = 2020 %}
                                        {% endif %}
                                        {% set duration = to - from %}
                                        {% set total_work_experience = duration %}
                                        <td>
                                            <ul style="list-style: none;padding-bottom: 0;padding-left: 0;margin-bottom: 0;">
                                                {% if summary != 'None' %}
                                                    {% for summ in summary %}
                                                        {% set start =  summ.year_from | int %}
                                                        {% set end =  summ.year_to | int %}
                                                        {% set total_years = end - start %}
                                                        <li>{{ summ.year_from }}
                                                            - {{ summ.year_to }} {{ summ.name_of_institution }} {{ summ.gross_salary }}
                                                            ({{ total_years }})
                                                        </li>
                                                        {% if not loop.last %}<br>{% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <li>0 (0)</li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    {% else %}
                                        <td>None (0)</td>
                                    {% endif %}
                                    {% set kaz = e_m.query.filter_by(user_id=user_id).first() %}
                                    <td>{% if kaz %} {{ kaz.pf_number }} {% else %} None {% endif %}</td>
                                    <td>{{ total_work_experience|abs }}</td>
                                    {% set edu = education_documents.query.filter_by(user_id=user_id)
                                      .filter_by(application_id=application.id).first() %}
                                    <td>{{ edu.years_of_experience }}</td>
                                    <td>Online Application</td>
                                    {% set da = days.query.filter_by(application_id=application.id).order_by(days.createdAt.asc()).first() %}
                                    {% if da %}
                                        <td>
                                            {% if da.monday !=0 %}Monday,{% else %}''{% endif %}
                                            {% if da.tuesday !=0 %}Tuesday,{% else %}''{% endif %}
                                            {% if da.wednesday !=0 %}Wednesday,{% else %}''{% endif %}
                                            {% if da.thursday !=0 %}Thursday,{% else %}''{% endif %}
                                            {% if da.friday !=0 %}Friday,{% else %}''{% endif %}
                                            {% if da.saturday !=0 %}Saturday,{% else %}''{% endif %}
                                            {% if da.sunday !=0 %}Sunday{% else %}''{% endif %}
                                        </td>
                                    {% else %}
                                        <td>NONE</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            {% for application in manual_apps %}
                                <tr>
                                    {% if a_user.query.filter_by(id_number=application.id_number).first() != None %}
                                        {% set manual_user = a_user.query.filter_by(id_number=application.id_number).first() %}
                                        {% set user_id = manual_user.id %}
                                        <td>{{ loop.index }}</td>
                                        <td><a href="
                                                {% if current_user.role.name=='Administrator' %}{{ url_for('publisher.edit_application', id=application.id) }}{% else %}#{% endif %}">{{ application.first_name }} {{ application.surname }}</a>
                                        </td>
                                        <td><a href="#">{{ application.job_reference_number }}</a></td>
                                        <td><a href="#">{{ application.job_title }}</a></td>
                                        <td>{{ moment(application.get_time()).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                        <td>{{ application.gender }}</td>
                                        <td>{{ application.id_number }}</td>
                                        <td>{{ application.home_county }}</td>
                                        <td>{{ application.ethnicity }}</td>
                                        <td>{{ application.nationality }}</td>
                                        <td>{{ application.age }}</td>
                                        {% set d = application.age | int %}
                                        {% set n = 2020 - d %}
                                        <td>{{ n }}</td>
                                        <td>{{ application.phone_number_personal }}</td>
                                        <td>{{ application.email }}</td>
                                        <td>{{ application.address }}</td>
                                        <td>{{ application.phone_number_alternate }}</td>
                                        <td>{% if application.disability %}{{ application.disability }}{% else %}
                                            None{% endif %}</td>
                                        <td>{% if application.disability_nature %}
                                            {{ application.disability_nature }}{% else %}None{% endif %}</td>
                                        <td>{{ application.highest_level_education }}</td>
                                        <td>{% if application.phd_certificate_obtained %}
                                            {{ application.phd_certificate_obtained }}{% else %}None{% endif %}
                                        </td>
                                        <td>{% if application.masters_certificate_obtained %}
                                            {{ application.masters_certificate_obtained }}{% else %}None{% endif %}</td>
                                        <td>{% if application.degree_certificate_obtained %}
                                            {{ application.degree_certificate_obtained }}{% else %} None{% endif %}</td>
                                        <td>{% if application.higher_diploma_certificate_obtained %}
                                            {{ application.higher_diploma_certificate_obtained }} {% else %}
                                            None{% endif %}
                                        </td>
                                        <td>{% if application.diploma_certificate_obtained %}
                                            {{ application.diploma_certificate_obtained }}{% else %}None{% endif %}
                                        </td>
                                        <td>{% if application.certificate_obtained %}
                                            {{ application.certificate_obtained }} {% else %}None{% endif %}
                                        </td>
                                        <td>{{ application.relevant_certification }}</td>
                                        <td>{{ application.registration }}</td>

                                        {% if employment.query.filter_by(user_id=user_id).first() != None %}

                                            {% set emporiums = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.desc()).all() %}
                                            {% set empLast = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.desc()).first() %}
                                            {% set emp = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.asc()).first() %}
                                            {% if emporiums %}
                                                {% set summary = emporiums %}
                                            {% else %}
                                                {% set summary = 'None' %}
                                            {% endif %}
                                            {% if emp %}
                                                {% set from = emp.year_from | int %}
                                            {% else %}
                                                {% set from = 2020 %}
                                            {% endif %}
                                            {% if empLast %}
                                                {% set to = empLast.year_to | int %}
                                            {% else %}
                                                {% set to = 2020 %}
                                            {% endif %}
                                            {% set duration = to - from %}
                                            {% set total_work_experience = duration %}
                                            <td>
                                                <ul style="list-style: none;padding-bottom: 0;padding-left: 0;margin-bottom: 0;">
                                                    {% if summary != 'None' %}
                                                        {% for summ in summary %}
                                                            {% set start =  summ.year_from | int %}
                                                            {% set end =  summ.year_to | int %}
                                                            {% set total_years = end - start %}
                                                            <li>{{ summ.year_from }}
                                                                - {{ summ.year_to }} {{ summ.name_of_institution }} {{ summ.gross_salary }}
                                                                ({{ total_years }})
                                                            </li>
                                                            {% if not loop.last %}<br>{% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <li>0 (0)</li>
                                                    {% endif %}
                                                </ul>
                                            </td>

                                        {% else %}
                                            <td>Manual application needs updating</td>
                                        {% endif %}

                                        {% set kaz = e_m.query.filter_by(user_id=application.user.id).first() %}
                                        <td>{% if kaz %} {{ kaz.pf_number }} {% else %} None {% endif %}</td>
                                        <td>{{ application.total_work_experience }}</td>
                                        <td>{{ application.relevant_work_experience }}</td>
                                        <td>Manual Application</td>
                                        {% set da = days.query.filter_by(application_id=application.id).order_by(days.createdAt.asc()).first() %}
                                        {% if da %}
                                            <td>
                                                {% if da.monday !=0 %}Monday,{% else %}''{% endif %}
                                                {% if da.tuesday !=0 %}Tuesday,{% else %}''{% endif %}
                                                {% if da.wednesday !=0 %}Wednesday,{% else %}''{% endif %}
                                                {% if da.thursday !=0 %}Thursday,{% else %}''{% endif %}
                                                {% if da.friday !=0 %}Friday,{% else %}''{% endif %}
                                                {% if da.saturday !=0 %}Saturday,{% else %}''{% endif %}
                                                {% if da.sunday !=0 %}Sunday{% else %}''{% endif %}
                                            </td>
                                        {% else %}
                                            <td>NONE</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{ loop.index }}</td>
                                        <td><a href="
                                                {% if current_user.role.name=='Administrator' %}{{ url_for('publisher.edit_application', id=application.id) }}{% else %}#{% endif %}">{{ application.first_name }} {{ application.surname }}</a>
                                        </td>
                                        <td><a href="#">{{ application.job_reference_number }}</a></td>
                                        <td><a href="#">{{ application.job_title }}</a></td>
                                        <td>{{ moment(application.get_time()).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                                        <td>{{ application.gender }}</td>
                                        <td>{{ application.id_number }}</td>
                                        <td>{{ application.home_county }}</td>
                                        <td>{{ application.ethnicity }}</td>
                                        <td>{{ application.nationality }}</td>
                                        <td>{{ application.age }}</td>
                                        {% set d = application.age | int %}
                                        {% set n = 2020 - d %}
                                        <td>{{ n }}</td>
                                        <td>{{ application.phone_number_personal }}</td>
                                        <td>{{ application.email }}</td>
                                        <td>{{ application.address }}</td>
                                        <td>{{ application.phone_number_alternate }}</td>
                                        <td>{% if application.disability %}{{ application.disability }}{% else %}
                                            None{% endif %}</td>
                                        <td>{% if application.disability_nature %}
                                            {{ application.disability_nature }}{% else %}None{% endif %}</td>
                                        <td>{{ application.highest_level_education }}</td>
                                        <td>{% if application.phd_certificate_obtained %}
                                            {{ application.phd_certificate_obtained }}{% else %}None{% endif %}
                                        </td>
                                        <td>{% if application.masters_certificate_obtained %}
                                            {{ application.masters_certificate_obtained }}{% else %}None{% endif %}</td>
                                        <td>{% if application.degree_certificate_obtained %}
                                            {{ application.degree_certificate_obtained }}{% else %} None{% endif %}</td>
                                        <td>{% if application.higher_diploma_certificate_obtained %}
                                            {{ application.higher_diploma_certificate_obtained }} {% else %}
                                            None{% endif %}
                                        </td>
                                        <td>{% if application.diploma_certificate_obtained %}
                                            {{ application.diploma_certificate_obtained }}{% else %}None{% endif %}
                                        </td>
                                        <td>{% if application.certificate_obtained %}
                                            {{ application.certificate_obtained }} {% else %}None{% endif %}
                                        </td>
                                        <td>{{ application.relevant_certification }}</td>
                                        <td>{{ application.registration }}</td>

                                        <td>Manual application needs updating!</td>

                                        {% set kaz = e_m.query.filter_by(user_id=application.user.id).first() %}
                                        <td>{% if kaz %} {{ kaz.pf_number }} {% else %} None {% endif %}</td>
                                        <td>{{ application.total_work_experience }}</td>
                                        <td>{{ application.relevant_work_experience }}</td>
                                        <td>Manual Application</td>
                                        {% set da = days.query.filter_by(application_id=application.id).order_by(days.createdAt.asc()).first() %}
                                        {% if da %}
                                            <td>
                                                {% if da.monday !=0 %}Monday,{% else %}''{% endif %}
                                                {% if da.tuesday !=0 %}Tuesday,{% else %}''{% endif %}
                                                {% if da.wednesday !=0 %}Wednesday,{% else %}''{% endif %}
                                                {% if da.thursday !=0 %}Thursday,{% else %}''{% endif %}
                                                {% if da.friday !=0 %}Friday,{% else %}''{% endif %}
                                                {% if da.saturday !=0 %}Saturday,{% else %}''{% endif %}
                                                {% if da.sunday !=0 %}Sunday{% else %}''{% endif %}
                                            </td>
                                        {% else %}
                                            <td>NONE</td>
                                        {% endif %}
                                    {% endif %}
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!-- plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons/buttons.html5.min.js') }}"></script>
    <!-- end plugin js for this page -->

    <script>

        $(function () {
            'use strict';

            $(function () {
                $('#dataTable').DataTable({
                    "aLengthMenu": [
                        [10, 30, 50, -1],
                        [10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        {
                            extend: 'excel',
                            messageTop: 'All The Applications.'
                        },
                    ]
                });
                $('#dataTable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
            });

        });
    </script>
    <script>
        $(function () {
            'use strict';

            if ($('#datePickerExample').length) {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#datePickerExample').datepicker({
                    format: "dd/mm/yyyy",
                    todayHighlight: true,
                    autoclose: true
                });
                // var ub = new Date('{{user_dob}}');
                $('#datePickerExample').datepicker('setDate', today)
            }
        });
    </script>
{% endblock %}