{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<!-- end plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/lani.css') }}">
<style>
.pdfobject-container { height: 25rem; border: 1rem solid rgba(0,0,0,.1); }
</style>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('admin.applications')}}">Applications</a></li>
            <li class="breadcrumb-item active" aria-current="page">VIEW <span style="color: #0d71bb">{{application.user.full_name().upper()}}'S</span> APPLICATION</li>
        </ol>
    </nav>
</div>
<div class="row" id="lint">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 pl-0">
                        <a href="#" class="noble-ui-logo d-block mt-3 mb-lg-4">
                            <img src="{{ url_for('static', filename='images/logo.png') }}"></a>
                        <p class="mt-1 mb-1"><b>{{application.user.full_name()}}</b></p>
                        <p class="mt-1 mb-1"><b>{{application.user.email}}</b></p>
                        <p class="mt-1 mb-1"><b>{{application.user.phone_number_personal}}</b></p>
                        <p>{{application.user.address}},<br>{{application.user.county}}</p>
                        <h5 class="mt-5 mb-2 text-muted">Sent to :</h5>
                        <p>The Chief Executive Officer,
                            <br>Kenyatta University Teaching, Referral & Research Hospital
                            <br> P.O Box 7674 - 00100 GPO,
                            <br> Nairobi, Kenya.
                        </p>

                    </div>
                    <div class="col-lg-3 pr-0">
                        <h4 class="font-weight-medium text-uppercase text-right mt-4 mb-2">{{application.listing.job_title}}</h4>
                        <h6 class="text-right mb-5 pb-4">{{application.listing.job_reference_number}}</h6>

                        <h6 class="mb-0 mt-3 text-right font-weight-normal mb-2"><span class="text-muted">Application Date :</span>
                            {{"{:%d/%m/%Y}".format(application.get_time())}}</h6>
                        <h6 class="text-right font-weight-normal"><span class="text-muted">Deadline Date:</span>
                            {{"{:%d/%m/%Y}".format(application.listing.availability_to)}}</h6>
                    </div>
                </div>
                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12 ml-auto">
                            <h6 style="color: #0279fa;">Personal Details</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Full Name</td>
                                        <td class="text-right">{{application.user.full_name()}}</td>
                                    </tr>
                                    <tr>
                                        <td>ID Number</td>
                                        <td class="text-right">{{application.user.id_number}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-800">Date of Birth</td>
                                        <td class="text-bold-800 text-right">
                                            {{ application.user.dob}}</td>
                                    </tr>
                                    <tr>
                                        <td>Home County</td>
                                        <td class="text-right">{{application.user.home_county}}</td>
                                    </tr>
                                    <tr>
                                        <td>Civil Status</td>
                                        <td class="text-right" style="text-transform: capitalize">{{application.user.civil_status}}</td>
                                    </tr>
                                    <tr>
                                        <td>County of Residence</td>
                                        <td class="text-right" style="text-transform: capitalize">{{application.user.county}}</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td class="text-bold-800">Highest Level Of Education</td>
                                        <td class="text-bold-800 text-right" style="text-transform: capitalize;">{{application.user.highest_level_education}}</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <td class="text-bold-800">Current Position & Employer</td>
                                        <td class="text-bold-800 text-right" style="text-transform: capitalize;">
                                            {% if employment_details.full_time_employed %}
                                                {{employment_details.position_held}}
                                                {% elif employment_details.locum_employed %}
                                                {{employment_details.position_held}}
                                                {% endif %},
                                                {% if employment_details.full_time_employed %}
                                                {{employment_details.full_time_employer}}
                                                {% elif employment_details.locum_employed %}
                                                {{employment_details.locum_employed}}
                                                {% endif %}
                                        </td>
                                    </tr>
                                    {% if employment_details.gross_salary %}
                                    <tr class="bg-light">
                                        <td class="text-bold-800">Gross Salary</td>
                                        <td class="text-bold-800 text-right" style="text-transform: capitalize;">{{employment_details.gross_salary}}</td>
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="color: #0279fa;">Education Details</h6>
                                <div class="table-responsive w-100">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Year From</th>
                                            <th class="text-right">Year To</th>
                                            <th>University</th>
                                            <th>Award</th>
                                            <th>Course</th>
                                            <th>Specialization</th>
                                            <th>Class</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-info">
                                            <th>#</th>
                                            <th colspan=100%>Academics</th>
                                        </tr>
                                        {% for education in education_details %}
                                            <tr class="text-right">
                                                <td class="text-left">{{ loop.index }}</td>
                                                <td class="text-left">{{ education.year_from }}</td>
                                                <td>{{ education.year_to }}</td>
                                                <td class="text-left">{{ education.name_of_institution }}</td>
                                                <td>{{ education.award }}</td>
                                                <td class="text-left">{{ education.course }}</td>
                                                <td class="text-left">{{ education.specialization }}</td>
                                                <td class="text-left">{{ education.class_grade }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Employment History Details</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name of Institution</th>
                                        <th class="text-right">Designation</th>
                                        <th>Duration</th>
                                        <th>Gross Salary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employment in employment_history %}
                                        <tr class="text-right">
                                        {% set to = employment.year_to | int%}
                                        {% set from = employment.year_from | int%}
                                            {% set duration = to - from %}
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ employment.name_of_institution }}</td>
                                            <td>{{ employment.designation }}</td>
                                            <td class="text-left">{{ duration }} Years</td>
                                            <td class="text-left">{{ employment.gross_salary }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Professional/Technical Certifications</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Professional Body</th>
                                        <th>Membership/Reg. No.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in prof %}
                                        <tr class="text-right">
                                            <td class="text-left">{{ loop.index }}</td>
                                            <td class="text-left">{{ p.professional_body }}</td>
                                            <td class="text-left">{{ p.membership_registration_number }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Referees</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email Address</th>
                                        <th>Phone Number</th>
                                        <th>Occupation</th>
                                        <th>Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <td class="text-left">1</td>
                                            <td class="text-left">{{ referees.name }}</td>
                                            <td class="text-left">{{ referees.email_address }}</td>
                                            <td class="text-left">{{ referees.phone_number }}</td>
                                            <td class="text-left">{{ referees.occupation }}</td>
                                            <td class="text-left">{{ referees.address }}</td>
                                        </tr>
                                        <tr class="text-right">
                                            <td class="text-left">2</td>
                                            <td class="text-left">{{ referees.name_2 }}</td>
                                            <td class="text-left">{{ referees.email_address_2 }}</td>
                                            <td class="text-left">{{ referees.phone_number_2 }}</td>
                                            <td class="text-left">{{ referees.occupation_2 }}</td>
                                            <td class="text-left">{{ referees.address_2 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid w-100">
                        <a href="#printBtn" class="btn btn-primary float-right mt-4" id="printBtn">
                            <i data-feather="printer" class="mr-2 icon-md"></i>Print</a>
                    </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid mt-5 w-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 style="color: #0279fa;">Documents</h6>
                            <div class="table-responsive w-100">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Document</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-right">
                                            <td class="text-left">1</td>
                                            <td class="text-left">CV <br>
                                            <a href="{{ url_for('static', filename='uploads/{}/{}'.format(application.user.id_number, saved_jazz.cv_url)) }}"></a>
                                            </td>
                                            <td class="text-left">
                                                <div id="cv"></div>
                                            </td>
                                        </tr>

                                        {% if job_applied.requires_license == 1%}
                                        <tr class="text-right">
                                            <td class="text-left">4</td>
                                            <td class="text-left">License
                                            <a href="{{ url_for('static', filename='uploads/{}/{}'.format(application.user.id_number, saved_license.license)) }}"></a>
                                            </td>
                                            <td class="text-left">
                                                <div id="license"></div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/printThis.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfobject.js') }}"></script>
<script>
    $('#printBtn').on("click", function () {
      $('#lint').printThis({
        header: "<h4>Application</h4>"
      });
    });
</script>
<script>PDFObject.embed("{{ url_for('static', filename='uploads/{}/{}'.format(application.user.id_number, saved_jazz.cv_url)) }}", "#cv");</script>
<script>PDFObject.embed("{{ url_for('static', filename='uploads/{}/{}'.format(application.user.id_number, saved_license.license)) }}", "#license");</script>
{% endblock %}